# Environment
.env
*.db

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
lib/
lib64/
bin/
CACHEDIR.TAG
.lock
pyvenv.cfg

# Node
node_modules/
dist/

# Uploads
exam_results/
*.pdf

# Test assets
demo_images/

# IDE
.vscode/
.idea/"
